extends ../base/layout

block data

block variables
  - var title = "Главная страница"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Главная"

block main
  main
    section.main-page.container
      h1.visually-hidden Главная страница
      +renderBtn("add", "pink", "Add item", "form")

block modals
  +modal("modal--form")
    +modal-form()
